[project]
	description = Two-caption meme generator CLI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pat Nakajima (nakajima)
[access "refs/for/refs/*"]
	read = group user/Pat Nakajima (nakajima)
	push = group user/Pat Nakajima (nakajima)
	label-Code-Review = -2..+2 group user/Pat Nakajima (nakajima)
	label-Verified = -1..+1 group user/Pat Nakajima (nakajima)
	rebase = group user/Pat Nakajima (nakajima)
	removeReviewer = group user/Pat Nakajima (nakajima)
	submit = group user/Pat Nakajima (nakajima)
[access "refs/heads/*"]
	read = group user/Pat Nakajima (nakajima)
	create = group user/Pat Nakajima (nakajima)
	push = +force group user/Pat Nakajima (nakajima)
	pushMerge = group user/Pat Nakajima (nakajima)
[access "refs/tags/*"]
	push = +force group user/Pat Nakajima (nakajima)
	pushTag = group user/Pat Nakajima (nakajima)
	pushSignedTag = group user/Pat Nakajima (nakajima)
